/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
:root {
  --bk: #F5F5F1;
}

/*************************************************
      RESET
   *************************************************/
ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

/************************************************
      UTILITIES
   ************************************************/
.d-contents {
  display: contents;
}

/* COMPONENTS */
/* _______________________________________________ */
/* card */

/*************************************************
    GENERAL STYLES
 *************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

/* MAIN */

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
}
/* breakpoints Large*/
@media (min-width: 992px) {
}

