@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
:root {
  --bk: #f5f5f1;
}

/*************************************************
      RESET
   *************************************************/
ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/************************************************
      UTILITIES
   ************************************************/
.d-contents {
  display: contents;
}

/* COMPONENTS */
/* _______________________________________________ */
/* card */

/*************************************************
    GENERAL STYLES
 *************************************************/
body {
  background-color: var(--bk);
}
/* HEADER */

/* MAIN */
.ms_card {
  background-color: #ffffff;
  color: rgb(118,113,107);
}
.ms_card h5{
  font-family: "EB Garamond", serif;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 1rem;
}
.ms_card p{
  font-size: 0.8em;
  padding-bottom: 1rem;
}

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
}
/* breakpoints Large*/
@media (min-width: 992px) {
}
